table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Esto asegura que las columnas conserven su tamaño fijo */
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #2e2e2e;
    align-items: center;
}

th:nth-child(1), td:nth-child(1) {
    width: 150px; /* Fija el tamaño de la columna de nombres de usuario */
}

th:nth-child(2), td:nth-child(2) {
    width: 200px; /* Fija el tamaño de la columna de correos electrónicos */
}

th:nth-child(3), td:nth-child(3) {
    width: 60px; /* Fija el tamaño de la columna de estado */
}

th:nth-child(4), td:nth-child(4) {
    width: 100px; /* Fija el tamaño de la columna de acción */
}

th:nth-child(5), td:nth-child(5) {
    width: 50px; /* Fija el tamaño de la columna de acción */
}


tr:hover {
    background-color: #0d8ae8;
}

.details-button {
    background: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: 40px; /* Ancho del botón */
    height: 40px; /* Alto del botón */
    padding: 0; /* Sin padding */
    margin-left: 25px; /* Margen izquierdo */
}

.details-image {
    width: 100%; /* Ocupa todo el ancho del botón */
    height: 100%; /* Ocupa todo el alto del botón */
    object-fit: cover; /* Ajusta la imagen sin deformar */
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .loading-circle {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .action-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
  }
  
  .action-button.block {
    background-color: #f44336;
  }
  
  .action-button.unblock {
    background-color: #4caf50;
  }
  
  .action-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  .blockUserModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .blockUserModal-content {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
    width: 700px;
    color: white;
  }
  
  .blockUserModal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .blockUserModal-close:hover,
  .blockUserModal-close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  .reasons-container h3,
  .days-selector h3 {
    margin-bottom: 10px;
  }
  
  .reasons-container ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .reasons-container li {
    margin-bottom: 10px;
  }
  
  .days-selector input {
    width: 100%;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .confirm-button,
  .cancel-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: #f44336;
  }
  
  .confirm-button:hover,
  .cancel-button:hover {
    opacity: 0.8;
  }