.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.login-box {
  background-color: #1e1e1e; /* Fondo del contenedor más oscuro */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form input {
  width: 100%; /* Asegura que el input ocupe el 100% del ancho */
  padding: 10px;
  margin: 10px 0; /* Espacio superior e inferior */
  border-radius: 4px;
  border: 1px solid #444; /* Borde gris oscuro */
  background-color: #333; /* Fondo de entrada más oscuro */
  color: #ffffff; /* Texto de entrada blanco */
  font-size: 16px;
  box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}

.separator {
  margin: 20px 0; /* Espacio superior e inferior */
  border: none;    /* Sin borde predeterminado */
  border-top: 1px solid #ccc;  /* Borde superior */
  width: 100%;     /* Que ocupe todo el ancho del contenedor */
}

.no-account-text {
  font-size: 14px; /* Mismo tamaño que los enlaces */
  color: #b0b0b0; /* Color de texto del separador más claro */
  margin-right: 5px; /* Espacio entre el texto y el enlace */
}
