.metrics-section {
    padding: 20px;
  }
  
  .metrics-block {
    margin-bottom: 30px;
  }

  .content {
    margin-top: 60px; /* Espacio para la barra superior */
    margin-left: 275px; /* Espacio para la barra lateral */
    padding: 20px;
    flex-grow: 1;
    background-color: #121212; /* Fondo de contenido oscuro */
    overflow-y: auto; /* Permite desplazamiento si el contenido es largo */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .loading-circle {
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-top: 5px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .metrics-section {
    padding: 20px;
  }
  
  .metrics-block {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #f4f4f4;
  }
  