.sidebar {
  width: 250px;
  background-color: #1e1e1e; /* Barra lateral oscura */
  padding: 20px;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  background-color: #2e2e2e; /* Color gris oscuro */
  color: #e0e0e0; /* Color del texto claro */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave */
}

.sidebar-item:hover {
  background-color: #1da1f2; /* Color azul al hacer hover */
  color: white; /* Texto en blanco */
}

.sidebar-item.active {
  background-color: #007BFF; /* Color azul para el elemento activo */
}

.sidebar-item.active a {
  color: white; /* Cambia el color del texto a blanco para el elemento activo */
}

.sidebar a {
  text-decoration: none; /* Quita el subrayado */
  color: #e0e0e0; /* Color del texto claro */
  display: flex;
  align-items: center; /* Centra el logo y el texto */
  width: 100%; /* Asegura que el enlace ocupe todo el ancho del contenedor */
}

.sidebar a:hover {
  color: white; /* Cambia el color a blanco al hacer hover */
}

.sidebar-logo {
  width: 20px; /* Ajusta el tamaño del logo */
  height: 20px; /* Ajusta el tamaño del logo */
  margin-right: 10px; /* Espacio entre logo y texto */
}
