.twitsnap-view {
    padding: 20px;
    background-color: #1e1e1e; /* Fondo oscuro */
    border-radius: 8px;
}

.twitsnap-view table {
    width: 100%;
    border-collapse: collapse;
}

.twitsnap-view th,
.twitsnap-view td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #2e2e2e; /* Consistente con los fondos oscuros */
}

.twitsnap-view th {
    background-color: #2e2e2e; /* Fondo oscuro */
    color: white; /* Color del texto blanco */
}

.twitsnap-view tr:hover {
    background-color: #0d8ae8; /* Color al hacer hover */
}
